/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../assets/fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../assets/fonts/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
src: local(''),
        url('../assets/fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../assets/fonts/roboto-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --color-orange: rgb(236, 184, 48);
    --color-lightgrey: rgb(230, 230, 230);
    --color-grey: rgb(110, 110, 110);
    --color-darkgrey: rgb(70, 70, 70);
}

* {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
body {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
ul, li, h1, h2 {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* header styles start */
.header-container {
    padding: 10px 20px;
    background-color: var(--color-grey);
    border-radius: 0 0 5px 5px;
}
.hamburger {
    display: none;
}
.nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    list-style: none;
}
.nav__link {
    display: block;
    margin: 0 10px;
    line-height: 25px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}
.nav__link::after {
    display: block;
    content: "";
    margin: 0;
    margin-top: 3px;
    height: 3px;
    width: 0px;
    background-color: var(--color-orange);
    transition: 0.3s;
}
.nav__link:hover {
    color: var(--color-orange);
}
.nav__link:hover::after {
    width: 100%;
}
/* header styles end */

/* main styles start */
.main {
    flex-grow: 1;
}
.main-container {
    width: 100%;
    display: flex;
}
.left-col {
    width: 35%;
    padding: 10px 30px;
    background-color: var(--color-lightgrey);
    color: var(--color-grey)
}
.right-col {
    padding: 10px 30px;
    width: 65%;
}

.section {
    margin-bottom: 30px;
}
.avatar__img {
    width: 100%;
    border-radius: 2%;
    margin-bottom: 10px;
}
.avatar__name {
    text-transform: uppercase;
    font-size: 30px;
    color: var(--color-darkgrey);
    margin-bottom: 10px;
}
.avatar__title {
    font-size: 20px;
    font-weight: 700;
}
.title {
    font-size: 30px;
    color: var(--color-darkgrey);
    margin-bottom: 10px;
    border-bottom: 2px solid var(--color-orange);
}
.list {
    list-style: none;
}
.list--inner{
    margin-left: 20px;
}
.list__item {
    margin-bottom: 10px;
}
.code-example {
    background-color: var(--color-lightgrey);
    font-size: 14px;
    padding: 10px;
}
.code {
    display: block;
    overflow-x: auto;
}

/* main styles end */

/* footer styles start */
.footer-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: var(--color-grey);
    border-radius: 5px 5px 0 0;
}
.footer__link{
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 20px;
    transition: .3s;
}
.footer__link:hover{
    color: var(--color-orange);
}
.footer__link--rss {
    background-image: url("../assets/img/rs_school_js.svg");
    background-repeat: no-repeat;
    margin-left: auto;
    width: 120px;
    height: 45px;
}
.footer__link--rss:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(101%) contrast(102%);
}
/* footer styles end */

@media (max-width: 768px) {
    .header-container {
        height: 60px;
        padding: 10px 0 0 20px;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-right: auto;
        cursor: pointer;
        transition: 0.3s;
        z-index: 3;
    }
    .hamburger.open  {
        position: fixed;
        left: 20px;
        top: 10px;
    }
    .line {
        width: 80%;
        height: 2px;
        margin: 3px 0;
        background-color: #FFFFFF;
        transition: 0.3s;
        z-index: 15;
    }
    .hamburger.open .line1 {
        transform: rotate(-45deg) translate(0px, 10px);
        background-color: var(--color-darkgrey);
    }
    .hamburger.open .line2 {
        opacity: 0;
    }
    .hamburger.open .line3 {
        transform: rotate(45deg) translate(0px, -10px);
        background-color: var(--color-darkgrey);
    }

    .nav__list {
        display: none;
    }
    .nav__list.open {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 220px;
        padding: 60px 20px 10px;
        margin: 0;
        background-color: var(--color-lightgrey);
        border: 2px solid #cccccc;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav__link {
        color: var(--color-darkgrey);
        margin-bottom: 20px;
    }
    .main-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .left-col, .right-col {
        width: 100%;
    }
    .left-col {
        background-color: #FFFFFF;
        color: #000000;
    }
    .section_avatar {
        text-align: center;
    }
    .avatar__img {
        max-width: 400px;
    }

}