/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../assets/fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../assets/fonts/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
src: local(''),
        url('../assets/fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../assets/fonts/roboto-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --color-orange: rgb(236, 184, 48);
    --color-grey: rgb(110, 110, 110);
    --color-darkgrey: rgb(50, 50, 50);
}

* {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
body {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
ul, li, h1, h2 {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* header styles start */
.header-container {
    padding: 10px 20px;
    background-color: var(--color-grey);
    border-radius: 0 0 5px 5px;
}
.nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    list-style: none;
}
.nav__link {
    display: block;
    margin: 0 10px;
    line-height: 25px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}
.nav__link::after {
    display: block;
    content: "";
    margin: 0;
    margin-top: 3px;
    height: 3px;
    width: 0px;
    background-color: var(--color-orange);
    transition: 0.3s;
}
.nav__link:hover {
    color: var(--color-orange);
}
.nav__link:hover::after {
    width: 100%;
}
/* header styles end */

/* main styles start */
.main {
    flex-grow: 1;
}
.main-container {
    width: 100%;
    display: flex;
}
.left-col {
    width: 35%;
    padding: 10px 30px;
    background-color: rgb(230, 230, 230);
    color:rgb(110, 110, 110)
}
.right-col {
    padding: 10px 30px;
    width: 65%;
}

.section {
    margin-bottom: 30px;
}
.avatar__img {
    width: 90%;
    border-radius: 2%;
    margin-bottom: 10px;
}
.avatar__name {
    text-transform: uppercase;
    font-size: 30px;
    color:rgb(70, 70, 70);
    margin-bottom: 10px;
}
.avatar__title {
    font-size: 20px;
    font-weight: 700;
}
.title {
    font-size: 30px;
    color:rgb(70, 70, 70);
    margin-bottom: 10px;
    border-bottom: 2px solid var(--color-orange);
}
.list__item {
    margin-bottom: 10px;
    list-style: none;
}

/* main styles end */

/* footer styles start */
.footer-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: var(--color-grey);
    border-radius: 5px 5px 0 0;
}
.footer__link{
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 20px;
    transition: .3s;
}
.footer__link:hover{
    color: var(--color-orange);
}
.footer__link--rss {
    background-image: url("../assets/img/rs_school_js.svg");
    background-repeat: no-repeat;
    margin-left: auto;
    width: 120px;
    height: 45px;
    transition: .3s;
}
.footer__link--rss:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(101%) contrast(102%);
}
/* footer styles end */